:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
canvas {
  border: 1px solid #eee;
}
body {
  margin: 0; 
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

dialog {
  width: calc(100% - 2em);
  height: 50%;
  max-width: 50%;
}
dialog::backdrop {
  background: linear-gradient(90deg, #535bf233, #01010333, #535bf233);
}
.flex {
  display: flex;
}
.flexChildGrow>*{
  flex-grow: 1;
}
.column{
  flex-direction:column
}
  .gap{
    gap: .5rem;
  }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.gamePlace {
  width: 100vw;
  height: 100vh;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.l-0 {
  left: 0;
}
.subElems{
  display: none;
  gap:1rem;
  flex-wrap: wrap;

}
.subElems div{ 
  text-align: center;
  border-radius: 1rem;
  background-image: linear-gradient(45deg, #fffabc, #f3fbed);
  border: 1px solid #ddffc3;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.subElems.opened{
  display: flex;
}
.fillInTheBlanks{
  .Blanks {    
    padding: 8px;
    margin: 4px;
    min-height: 30px;
    min-width: 100px;
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
  }
  .Words{ 
    padding: 8px;
    margin: 4px;
    background-color: lightblue;
    cursor: grab
  }
}

.button,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-image: linear-gradient(45deg, black, transparent);
  cursor: pointer; 
  color: #d2dfe9;
  transition: border-color 0.25s;
}
.button:hover ,
button:hover {
  border-color: #d3d4f0;
}
button:focus,
.button:focus,
button:focus-visible ,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.Droppable  {    
  padding: 8px;
  margin: 4px;
  min-height: 30px;
  min-width: 100px;
  background-color: lightgrey;
  text-align: center;
  display: inline-block;
}
.Draggable{ 
  padding: 8px;
  margin: 4px;
  background-color: lightblue;
  cursor: grab
}
.correct{
  background-color: rgb(176, 255, 187);
}
.false{
  background-color: rgb(255, 165, 165);
}